/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > * {
    padding: 0.75rem 0;
}

figure:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child),
fieldset > *,
main > :not(:last-child),
#content > :not(:last-child),
#sidebar > :not(:last-child),
.block-index > :not(:last-child),
.block-index > .content > :not(:last-child) {
    margin-bottom: 1.5rem;
}

::selection {
    color: #fff;
    background: #000;
}

::placeholder {
    color: #bbb;
}

/**
 * Text
 */
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

pre {
    padding: 1.5rem;
    color: #fff;
    background: #000;
}

time {
    display: block;
}

/**
 * Figure
 */
figure.left {
    max-width: 50%;
    float: left;
    margin-right: 0.75rem;
}

figure.right {
    max-width: 50%;
    float: right;
    margin-left: 0.75rem;
}

figcaption {
    font-size: 0.875rem;
}

/**
 * List
 */
ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

/**
 * Nav
 */
nav ul {
    margin: 0;
    padding-left: 0;
}

/**
 * Form
 */
fieldset input[type=email],
fieldset input[type=password],
fieldset input[type=search],
fieldset input[type=tel],
fieldset input[type=text],
fieldset input[type=url],
fieldset select {
    width: 100%;
    max-width: 30rem;
}

legend {
    width: 100%;
    padding: 0.71875rem 0;
    border-bottom: solid 0.0625rem;
}

label {
    display: block;
}

input,
select,
textarea {
    line-height: inherit;
    padding: 0.71875rem 0;
    border-bottom: solid 0.0625rem #bbb;
}

select {
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select[multiple] {
    height: 15rem;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    line-height: 1.5rem;
    padding: 0.75rem;
    color: #fff;
    background: #000;
    border: 0;
}

input[type=file] {
    padding: 0;
    font-size: 0.875rem;
    background: none;
    border: 0;
}

input[type=checkbox],
input[type=radio] {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.6875rem 0;
    border: solid 0.0625rem #bbb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=radio] {
    border-radius: 1rem;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
    background: #000;
    border-color: #000;
}

input[type=checkbox] + label,
input[type=radio] + label {
    display: inline;
    vertical-align: middle;
    margin: 0 0.5rem 0 0.25rem;
}

textarea {
    width: 100%;
    height: 15rem;
}

form:invalid [type=submit] {
    opacity: 0.6;
}

div[data-required] > label:first-child::after {
    content: '*';
}

div[data-invalid] {
    color: #900;
}

div[data-invalid] :invalid {
    border-bottom: solid 0.0625rem #900;
}

.error {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: #900;
}

/**
 * RTE
 */
#content .cke {
    border: 0.0625rem solid #bbb;
}

#content form .cke {
    height: 32.875rem;
}

#content .cke_top {
    border-bottom: 0.0625rem solid #bbb;
}

#content .cke_combo::after {
    border-right: 0;
}


/**
 * Toolbar
 */
#toolbar {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    background: #000;
}

#toolbar li ul {
    background: #000;
}

#toolbar a.active {
    text-decoration: underline;
}

/**
 * Main
 */
main a {
    color: #60abc6;
}

main a:not([role=button]):hover {
    text-decoration: underline;
}

/**
 * Content
 */
#content img,
#content video {
    max-width: 15rem;
    max-height: 10.5rem;
}

html:not([data-action=browser]) #content .block-index img,
html:not([data-action=browser]) #content .block-index video {
    max-width: 9rem;
    max-height: 6rem;
}

/**
 * Message
 */
.msg {
    padding: 0.75rem;
    color: #fff;
    background: #000;
}

.msg p {
    margin: 0;
}

/**
 * Index
 */
.block-index .thead {
    margin: 0;
    padding: 0.75rem 0;
    font-weight: bold;
}

.block-index .thead > * {
    display: block;
    color: inherit;
}

a[data-sort=asc]::after {
    display: inline-block;
    text-decoration: none;
    content: '⇑';
}

a[data-sort=desc]::after {
    display: inline-block;
    text-decoration: none;
    content: '⇓';
}

.block-index article {
    padding: 0.75rem 0;
}

.block-index article h3 {
    margin: 0;
    font-size: inherit;
}

.block-index audio,
.block-index iframe,
.block-index video {
    pointer-events: none;
}

/**
 * Filter
 */
.filter {
    margin: 0.75rem 0 0.75rem 1rem;
    font-size: 0.875rem;
}

/**
 * Pager
 */
.pager {
    font-size: 0.875rem;
}

/**
 * Login
 */
html[data-url="/account/login"] main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
    height: 100vh;
    margin: 0 auto;
}

html[data-url="/account/login"] main > * {
    width: 100%;
}

/**
 * Screen
 */
@media screen {
    /**
     * Actions
     */
    a[data-action=delete],
    a[data-action=edit],
    a[data-action=view],
    a[data-action=browser],
    a[data-action=remove] {
        display: inline-block;
        height: 1rem;
        font-size: 0;
    }

    a[data-action=delete]::before,
    a[data-action=edit]::before,
    a[data-action=view]::before,
    a[data-action=browser]::before,
    a[data-action=remove]::before {
        display: inline-block;
        line-height: 1;
        margin-right: 0.5rem;
        font-family: fontawesome;
        font-size: 1rem;
        font-weight: 900;
        text-decoration: none;
    }

    a[data-action=delete]::before,
    a[data-action=remove]::before {
        content: '\f1f8';
    }

    a[data-action=edit]::before {
        content: '\f044';
    }

    a[data-action=view]::before {
        content: '\f06e';
    }

    a[data-action=browser]::before {
        content: '\f07c';
    }
}

/**
 * Desktop + Print
 */
@media screen and (min-width: 55rem), print {
    /**
     * Index
     */
    .block-index > .content {
        display: table;
        width: 100%;
        font-size: 0.875rem;
        empty-cells: show;
        border-spacing: 0;
    }

    .block-index .thead,
    .block-index article {
        display: table-row;
    }

    .block-index .thead > *,
    .block-index article > * {
        display: table-cell;
        padding: 0.71875rem 0.375rem;
        vertical-align: top;
        text-align: left;
    }

    .block-index .thead > * {
        border-bottom: solid 0.0625rem;
    }

    .block-index article > * {
        border-bottom: dotted 0.0625rem;
    }
}

/**
 * Desktop
 */
@media screen and (min-width: 55rem) {
    /**
     * Pager
     */
    .pager {
        display: flex;
        justify-content: space-between;
    }

    /**
     * Dashboard
     */
    html[data-url="/account/dashboard"] #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    html[data-url="/account/dashboard"] #content h1 {
        width: 100%;
    }

    html[data-url="/account/dashboard"] #content .block-index {
        width: calc(50% - 0.75rem);
    }

    /**
     * Browser
     */
    html[data-action=browser] #content .block-index > .content {
        display: flex;
        flex-wrap: wrap;
    }

    html[data-action=browser] #content .block-index article {
        display: block;
        width: 25%;
        border: 0.0625rem solid;
        cursor: pointer;
    }

    html[data-action=browser] #content .block-index article:not(:hover) {
        border-color: transparent;
    }

    html[data-action=browser] #content .block-index article > * {
        display: block;
        border: 0;
    }
}

/**
 * Print
 */
@media print {
    body {
        padding: 0;
    }

    /**
     * Pagebreak
     */
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }

    /**
     * Links
     */
    #content a:not([role]):not([data-action])::after {
        content: " (" attr(href) ")";
        font-size: 0.875rem;
        font-style: italic;
        text-transform: none;
    }

    /**
     * Hidden
     */
    body > :not(main),
    main > :not(#content),
    .block-index .thead > ::after,
    .block-index .thead > :last-child,
    .block-index article > :last-child,
    .new,
    .filter,
    .pager {
        display: none;
    }
}
