/**
 * Variables
 */
:root {
    --body: #fff;
    --body-text: #000;
    --grey: #f5f5f6;
    --grey-border: #e4e7ea;
    --primary: #052a33;
    --primary-light: #32535c;
    --primary-dark: #00000c;
    --primary-text: #fff;
    --secondary: #93ddf9;
    --secondary-light: #c7ffff;
    --secondary-dark: #60abc6;
    --secondary-text: #000;
}

/**
 * Font
 */
@font-face {
  font-family: material;
  font-style: normal;
  font-weight: 400;
  src: url(material.woff2) format('woff2');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('roboto.woff2') format('woff2');
}

/**
 * Elements
 */
html,
address, article, aside, body, footer, h1, h2, h3, h4, h5, h6, header, nav, section,
blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul,
a, abbr, b, cite, code, data, dfn, em, i, kbd, mark, q, s, samp, small, span, strong, sub, sup, time, u, var,
del, ins,
audio, canvas, embed, iframe, img, object, picture, video,
caption, table, tbody, td, tfoot, th, thead, tr,
fieldset, form, label, legend, output,
details, menu, summary {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font: inherit;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    outline: 0 none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    line-height: 1.5rem;
    font-family: roboto, sans-serif;
    color: var(--body-text);
    background: var(--body);
}

[hidden] {
    display: none;
}

/* Heading */
h1,
h2,
h3 {
    margin-bottom: 1.5rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 1.5rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

/* Nav */
nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

nav a {
    color: inherit;
}

/* Text */
s,
del {
    text-decoration: line-through;
}

u,
ins {
    text-decoration: underline;
}

p {
    margin-bottom: 1.5rem;
}

blockquote {
    font-style: italic;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-style: italic;
}

pre {
    padding: 1.5rem;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--primary-text);
    background: var(--primary-dark);
}

b,
strong {
    font-weight: bold;
}

cite,
dfn,
em,
i,
var {
    font-style: italic;
}

abbr[title],
dfn[title] {
    border-bottom: thin dotted;
    cursor: help;
}

del[title],
ins[title] {
    cursor: help;
}

small {
    font-size: smaller;
}

sub {
    vertical-align: sub;
    line-height: normal;
    font-size: smaller;
}

sup {
    vertical-align: super;
    line-height: normal;
    font-size: smaller;
}

a {
    text-decoration: none;
}

/* Media */
audio,
canvas,
embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

img {
    vertical-align: bottom;
}

audio,
canvas,
video {
    display: inline-block;
}

figure {
    margin-bottom: 1.5rem;
}

figcaption {
    font-size: 0.875rem;
}

figure.iframe {
    position: relative;
    height: auto;
    overflow: hidden;
    padding: 1.5rem 0 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    margin-right: 1rem;
}

.center {
    text-align: center;
}

.right {
    float: right;
    margin-left: 1rem;
}

/* List */
ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li ol,
li ul,
li p {
    margin: 0;
}

/* Table */
table {
    margin: 1.5rem 0;
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    vertical-align: top;
    padding: 0 0.375rem;
    text-align: left;
    font-size: 0.875rem;
    box-shadow: 0 0.0625rem 0 var(--grey-border);
}

th,
thead td {
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 0 0.0625rem 0 var(--primary-dark);
}

thead td,
thead th {
    white-space: nowrap;
}

thead a {
    color: inherit !important;
}

table p {
    margin: 0;
}

table.data {
    width: 100%;
    line-height: 3rem;
}

table.data tfoot td {
    text-align: right;
    box-shadow: none;
}

/* Form */
fieldset > * {
    margin-bottom: 1.5rem;
}

legend {
    width: 100%;
    box-shadow: 0 0.0625rem 0 var(--primary-dark);
}

label {
    display: block;
    cursor: pointer;
}

[type=checkbox] + label,
[type=radio] + label {
    display: inline;
    margin: 0 0.5rem 0 0.25rem;
}

label em {
    line-height: 1;
    font-size: 0.875rem;
    font-variant: all-small-caps;
}

[role=button],
button,
input,
select,
textarea {
    line-height: 3rem;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0.0625rem 0 var(--grey-border);
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    padding: 0 0.5rem;
    text-decoration: none !important;
    color: var(--secondary-text) !important;
    background: var(--secondary-dark);
    box-shadow: none;
    cursor: pointer;
}

[role=button] {
    display: inline-block;
}

[type=checkbox],
[type=radio] {
    box-shadow: none;
}

[type=checkbox][data-type=toggle] {
    position: relative;
    display: block;
    width: 6rem;
    height: 1.5rem;
    border: 0.0625rem solid var(--grey-border);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

[type=checkbox][data-type=toggle]:after {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    width: 3rem;
    height: 1.5rem;
    background: var(--secondary-dark);
    border: 0.0625rem solid var(--grey-border);
    content: '';
}

[type=checkbox][data-type=toggle]:checked:after {
    left: auto;
    right: -0.0625rem;
}

[type=file] {
    line-height: 0;
    font-size: 0.875rem;
    box-shadow: none;
}

fieldset [type=email],
fieldset [type=password],
fieldset [type=search],
fieldset [type=text],
fieldset [type=url],
fieldset select {
    width: 100%;
    max-width: 30rem;
}

fieldset select[multiple] {
    width: 100%;
    height: 15rem;
    resize: both;
}

optgroup {
    font-weight: bold;
    font-style: italic;
}

option[selected] {
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 15rem;
    resize: both;
    vertical-align: top;
}

::input-placeholder {
    color: var(--grey-border);
}

:focus:invalid,
.invalid {
    box-shadow: 0 0.0625rem 0 var(--primary-light);
}

.error {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--primary-light);
}

/* RTE */
.cke {
    border: 0.0625rem solid var(--grey-border) !important;
}

form .cke {
    min-height: 32.875rem !important;
}

.cke_top {
    border-bottom: 0.0625rem solid var(--grey-border) !important;
}

.cke_contents {
    height: auto !important;
}

#mediabrowser {
    width: 37.5rem;
    height: 25rem;
    overflow-y: scroll;
    white-space: normal;
}

#mediabrowser img {
    max-width: 9rem;
}

/**
 * Icon
 */
.icon {
    display: inline;
    vertical-align: middle;
    text-decoration: none !important;
    text-transform: none;
    text-rendering: optimizeLegibility;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    font-family: material;
    font-weight: normal;
    font-size: 1.25rem;
    font-style: normal;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table .icon {
    vertical-align: inherit;
}

[role=button].icon,
[type=button].icon,
[type=reset].icon,
[type=submit].icon,
button.icon {
    padding: 0;
    font-size: 3rem;
    color: var(--secondary-dark) !important;
    background: none;
}

/**
 * Layout
 */
/* Header */
#header {
    line-height: 9rem;
    color: var(--primary-text);
    background: var(--primary);
}

#header h1 {
    margin: 0;
    padding: 1.5rem;
    font-size: 3rem;
}

#header .logo {
    display: none;
    padding: 1.5rem;
}

#header a {
    margin: 0;
    color: inherit;
}

#header img {
    display: block;
    margin: 0 auto;
}

/* Sidebar */
#right {
    padding: 1.5rem;
    background: var(--grey);
}

#right > * {
    margin-bottom: 1.5rem;
}

html[data-path$="/admin"] #right > * {
    margin-bottom: 0;
    padding: 1.5rem 0;
    box-shadow: 0 0.0625rem 0 var(--primary-dark);
}

html[data-path$="/admin"] #right > *:first-child {
    padding-top: 0;
}

/* Content */
#content {
    padding: 1.5rem;
}

#content > * {
    margin-bottom: 1.5rem;
}

#content > h1 {
    line-height: 3rem;
    font-size: 3rem;
}

#content a {
    color: var(--secondary-dark);
}

#content a:hover {
    text-decoration: underline;
}

#content ::-moz-selection {
    color: var(--secondary-text);
    background: var(--secondary);
}

#content ::selection {
    color: var(--secondary-text);
    background: var(--secondary);
}

/* Messages */
#msg {
    padding: 1.5rem;
    color: var(--secondary-text);
    background: var(--secondary-light);
}

#msg p {
    margin: 0;
}

/* Main Navigation */
#nav {
    padding: 1.5rem;
    color: var(--primary-text);
    background: var(--primary-light);
}

#nav li {
    display: inline-block;
    margin-right: 1.5rem;
}

#nav a {
    border-bottom: 0.25rem solid var(--primary-light);
}

#nav a:hover,
#nav a.active {
    border-color: var(--secondary);
}

/* Sub Navigation */
#subnav li li {
    margin-left: 2rem;
}

#subnav a:hover,
#subnav a.active {
    text-decoration: underline;
}

/* Toolbar */
#toolbar {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    color: var(--primary-text);
    background: var(--primary-dark);
}

#toolbar a {
    margin-left: 1.5rem;
    color: inherit;
}

#toolbar a:first-child {
    margin-left: 0;
}

/* Pager */
#pager {
    font-size: 0.875rem;
}

#pager div {
    display: inline;
}

#pager .info {
    margin-right: 1.5rem;
}

/* Search */
#search [type=search] {
    background: none;
}

/**
 * Responsive
 */
@media (min-width: 48em) {
    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #header {
        display: flex;
        align-items: center;
    }

    #header h1 {
        flex: 3 0;
        padding-right: 7.5rem;
    }

    #header .logo {
        display: block;
        flex: 1 0;
    }

    main {
        display: flex;
        flex: 1 0;
        align-items: stretch;
    }

    #content {
        flex: 3 0;
        padding: 1.5rem 7.5rem 1.5rem 1.5rem;
    }

    #right {
        flex: 1 0;
    }

    html[data-path="account/login"] main {
        align-items: center;
        justify-content: center;
    }

    html[data-path="account/login"] #content {
        width: 100%;
        max-width: 30rem;
        padding-right: 1.5rem;
    }
}
