#
# App
#
/public/db.php
/reset.sh

#
# Image
#
.git
docker-compose.*
Dockerfile
Jenkinsfile
.dockerignore
.gitignore
/public/db.php
/reset.sh

#
# DEV
#
.buildpath
/composer.phar
.idea
*.iml
/nbproject
.project
.settings
.vagrant

#
# Misc
#
*~
\#*
.\#*
.DS_Store
ehthumbs.db
Icon?
.sw[ponm]
[Tt]humbs.db
.tmp_*
