#
# App
#
/public/asset/*
!/public/asset/.gitkeep
/public/theme/*
!/public/theme/base
!/public/theme/.gitkeep
/log/*
!/log/.gitkeep

#
# DEV
#
.buildpath
/composer.phar
.idea
*.iml
/nbproject
.project
.settings
.vagrant

#
# Misc
#
*~
\#*
.\#*
.DS_Store
ehthumbs.db
Icon?
.sw[ponm]
[Tt]humbs.db
.tmp_*
