/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
    margin-bottom: 1.5rem;
}

/**
 * Text
 */
h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

a {
    text-decoration: underline;
    color: #0782c1;
}

/**
 * List
 */
ol,
ul {
    padding-left: 2rem;
}

/**
 * Table
 */
table {
    width: 100%;
    font-size: 0.875rem;
}

td,
th {
    padding: 0.71875rem 0.375rem;
    border: solid 0.0625rem #bbb;
}

thead tr:last-child td,
thead tr:last-child th {
    border-bottom-color: #000;
}

tfoot tr:first-child td,
tfoot tr:first-child th {
    border-top-color: #000;
}

table p {
    margin: 0;
}
