/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > :not(:last-child) {
    margin-bottom: 1.5rem;
}

/**
 * Text
 */
h2,
h3,
p {
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

a {
    text-decoration: underline;
    color: #0782c1;
}

/**
 * List
 */
ol,
ul {
    padding-left: 2rem;
}

/**
 * Table
 */
table {
    width: 100%;
    font-size: 0.875rem;
}

td,
th {
    padding: 0.71875rem 0.375rem;
    border: solid 0.0625rem #bbb;
}

thead tr:last-child td,
thead tr:last-child th {
    border-bottom-color: #000;
}

tfoot tr:first-child td,
tfoot tr:first-child th {
    border-top-color: #000;
}

table p {
    margin: 0;
}

/**
 * Quote
 */
blockquote {
    padding: 2.25rem 0.75rem 0.75rem;
    text-align: center;
    color: #333;
    background: #f8f8f7;
    box-shadow: 0.125rem 0.125rem 0.125rem #e0e0e0;
}

blockquote::before {
    display: block;
    content: '🙷';
    font-family: serif;
    font-size: 6rem;
}

/**
 * Alignment
 */
.left {
    float: left;
    margin-right: 0.75rem;
}

.right {
    float: right;
    margin-left: 0.75rem;
}

/**
 * Media
 */
figure:not(.left):not(.right) {
    text-align: center;
}

figcaption {
    font-size: 0.875rem;
    background: #eee;
}

audio,
iframe,
video {
    pointer-events: none;
}

/**
 * Details
 */
details {
    padding: 0.75rem;
    background: #eee;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
}

details > * {
    padding: 0.375rem;
    background: #fff;
}

details[open] > :not(:last-child) {
    margin-bottom: 0.75rem;
}

/**
 * Section
 */
section {
    padding: 0.75rem 0.75rem 0.75rem 13.5rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
}

section > h2 {
    margin-bottom: 0.75rem;
}

section > .media,
section > figure {
    position: relative;
    width: 12rem;
    height: 12rem;
    float: left;
    margin: -2.25rem 0 0 -12.75rem;
    object-fit: cover;
    object-position: center;
}

section > .media figure {
    float: none;
    margin: 0;
    background: #fff;
}

section > .media audio,
section > .media iframe,
section > .media img,
section > .media video,
section > figure audio,
section > figure iframe,
section > figure img,
section > figure video {
    max-height: 10.5rem;
}

section > .content {
    min-height: 9.75rem;
}

section .cke_widget_editable {
    background: #eee;
}

section::before {
    display: table;
    content: " ";
}

section::after {
    display: table;
    content: " ";
    clear: both;
}

/**
 * Block
 */
div[data-block]:empty {
    line-height: 6rem;
    text-align: center;
    background: #ffa500;
}

div[data-block]:empty::after {
    content: 'Block-ID: ' attr(data-block) ' ';
}

/**
 * Grid
 */
.grid > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid > .content > * {
    width: calc(50% - 0.75rem);
    margin-bottom: 1.5rem;
    border: 0.0625rem dotted #ddd;
}

/**
 * Widget Editable
 */
.cke_widget_editable {
    outline: none !important;
}
