/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > :not(:last-child) {
    margin-bottom: 1.5rem;
}

/**
 * Text
 */
h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

a {
    text-decoration: underline;
    color: #0782c1;
}

/**
 * List
 */
ol,
ul {
    padding-left: 2rem;
}

/**
 * Quote
 */
blockquote {
    padding: 2.25rem 0.75rem 0.75rem;
    text-align: center;
    color: #333;
    background: #f8f8f7;
    box-shadow: 0.125rem 0.125rem 0.125rem #e0e0e0;
}

blockquote::before {
    display: block;
    content: '🙷';
    font-family: serif;
    font-size: 6rem;
}

/**
 * Figure
 */
figure:not(.left):not(.right) {
    text-align: center;
}

figure.left {
    float: left;
    margin-right: 0.75rem;
}

figure.right {
    float: right;
    margin-left: 0.75rem;
}

figcaption {
    font-size: 0.875rem;
    background: #eee;
}

/**
 * Table
 */
table {
    width: 100%;
    font-size: 0.875rem;
}

td,
th {
    padding: 0.71875rem 0.375rem;
    border: solid 0.0625rem #bbb;
}

thead tr:last-child td,
thead tr:last-child th {
    border-bottom-color: #000;
}

tfoot tr:first-child td,
tfoot tr:first-child th {
    border-top-color: #000;
}

table p {
    margin: 0;
}

/**
 * Details + Section
 */
details,
[data-widget=section] {
    padding: 0.75rem;
    background: #eee;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
}

details > *,
[data-widget=section] > * {
    padding: 0.375rem;
    background: #fff;
}

details[open] > :not(:last-child),
[data-widget=section] > :not(:last-child) {
    margin-bottom: 0.75rem;
}

/**
 * Grid
 */
.grid > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffe4e1;
}

.grid > .content > * {
    width: calc(50% - 0.75rem);
    margin-bottom: 1.5rem;
}

/**
 * Widget Editable
 */
.cke_widget_editable {
    outline: none !important;
}
