/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > * {
    padding: 0.75rem 0;
}

figure:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
summary:not(:last-child),
p:not(:last-child),
fieldset > *,
main > :not(:last-child),
#content > :not(:last-child),
#sidebar > :not(:last-child),
.block-index > :not(:last-child) {
    margin-bottom: 1.5rem;
}

/**
 * Text
 */
h1 {
    font-size: 1.5rem;
}

h2,
summary {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

pre {
    padding: 1.5rem;
    color: #fff;
    background: #000;
}

time[data-attr] {
    display: block;
}

/**
 * Figure
 */
figure.left {
    float: left;
    margin-right: 0.75rem;
}

figure.right {
    float: right;
    margin-left: 0.75rem;
}

figcaption {
    font-size: 0.875rem;
}

/**
 * List
 */
ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

/**
 * Toolbar
 */
#toolbar {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    background: #000;
}

#toolbar li ul {
    background: #000;
}

#toolbar a.active {
    text-decoration: underline;
}

/**
 * Main
 */
main a {
    color: #60abc6;
}

main a:not([role=button]):hover {
    text-decoration: underline;
}

main ::selection {
    color: #fff;
    background: #000;
}

/**
 * Message
 */
.msg {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    color: #fff;
    background: #000;
}

.msg p {
    margin: 0;
}

/**
 * Index
 */
.block-index .thead {
    margin: 0;
    padding: 0.75rem 0;
    font-weight: bold;
}

.block-index .thead > * {
    display: block;
    color: inherit;
}

a[data-sort=asc]::after {
    display: inline-block;
    text-decoration: none;
    content: '⇑';
}

a[data-sort=desc]::after {
    display: inline-block;
    text-decoration: none;
    content: '⇓';
}

.block-index article {
    padding: 0.75rem 0;
}

.block-index article h2,
.block-index article h3 {
    margin: 0;
    font-size: inherit;
}

.block-index audio,
.block-index iframe,
.block-index img,
.block-index video {
    max-width: 15rem;
    max-height: 10rem;
}

/**
 * Pager
 */
.pager {
    padding: 0.75rem 0;
    font-size: 0.875rem;
}

/**
 * Screen
 */
@media screen {
    /**
     * Actions
     */
    a[data-action=delete],
    a[data-action=edit],
    a[data-action=view],
    a[data-action=browser],
    a[data-action=remove] {
        font-size: 0;
    }

    a[data-action=delete]::before,
    a[data-action=edit]::before,
    a[data-action=view]::before,
    a[data-action=browser]::before,
    a[data-action=remove]::before {
        display: inline-block;
        line-height: 1;
        margin-right: 0.5rem;
        font-family: fontawesome;
        font-size: 1rem;
        font-weight: 900;
        text-decoration: none;
    }

    a[data-action=delete]::before,
    a[data-action=remove]::before {
        content: '\f1f8';
    }

    a[data-action=edit]::before {
        content: '\f044';
    }

    a[data-action=view]::before {
        content: '\f06e';
    }

    a[data-action=browser]::before {
        content: '\f07c';
    }
}

/**
 * Desktop + Print
 */
@media screen and (min-width: 55rem), print {
    /**
     * Index
     */
    .block-index {
        display: table;
        width: 100%;
        font-size: 0.875rem;
        empty-cells: show;
        border-spacing: 0;
    }

    .block-index .thead,
    .block-index article {
        display: table-row;
    }

    .block-index .thead > *,
    .block-index article > * {
        display: table-cell;
        padding: 0.71875rem 0.375rem;
        vertical-align: top;
        text-align: left;
    }

    .block-index .thead > * {
        border-bottom: solid 0.0625rem;
    }

    .block-index article > * {
        border-bottom: dotted 0.0625rem;
    }
}

/**
 * Desktop
 */
@media screen and (min-width: 55rem) {
    /**
     * Pager
     */
    .pager {
        display: flex;
        justify-content: space-between;
    }

    /**
     * Login
     */
    html[data-url="/account/login"] main {
        display: flex;
        flex: 1 0;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    html[data-url="/account/login"] #content {
        width: 100%;
        max-width: 30rem;
    }

    /**
     * Browser
     */
    html[data-action=browser] #content .block-index {
        display: flex;
        flex-wrap: wrap;
    }

    html[data-action=browser] #content .block-index > * {
        width: 100%;
    }

    html[data-action=browser] #content .block-index > article {
        display: block;
        width: 25%;
        border: 0.0625rem solid;
        cursor: pointer;
    }

    html[data-action=browser] #content .block-index > article:not(:hover) {
        border-color: transparent;
    }

    html[data-action=browser] #content .block-index > article > * {
        display: block;
        border: 0;
    }

    html[data-action=browser] #content .block-index audio,
    html[data-action=browser] #content .block-index iframe,
    html[data-action=browser] #content .block-index video {
        pointer-events: none;
    }
}

/**
 * Print
 */
@media print {
    body {
        padding: 0;
    }

    /**
     * Pagebreak
     */
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }

    /**
     * Links
     */
    #content a:not([data-action])::after {
        content: " (" attr(href) ")";
        font-size: 0.875rem;
        font-style: italic;
    }

    /**
     * Hidden
     */
    body > :not(main),
    main > :not(#content),
    .block-index > .create,
    .block-index > .thead > span:last-child,
    .block-index > .thead > a::after,
    .block-index > article > footer,
    .filter,
    .pager {
        display: none;
    }
}
