/**
 * Toolbar
 */
#toolbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    background: #000;
}

#toolbar a:hover,
#toolbar a.active {
    text-decoration: underline;
}

/**
 * Desktop
 */
@media screen and (min-width: 55rem) {
    /**
     * Toolbar
     */
    #toolbar {
        display: block;
    }

    #toolbar + * {
        margin-top: 3rem;
    }

    #toolbar > ul > li {
        display: inline-block;
        margin-right: 0.625rem;
    }

    #toolbar li li {
        position: relative;
        display: block;
        padding: 0.375rem;
    }

    #toolbar li ul {
        position: absolute;
        display: none;
        background: #000;
    }

    #toolbar li li ul {
        top: 0;
        left: 100%;
    }

    #toolbar li:hover > ul {
        display: block;
    }
}

/**
 * Print
 */
@media print {
    /**
     * Hidden
     */
    #toolbar {
        display: none !important;
    }
}
