/**
 * Variable
 */
:root {
    --app-color-accent: #93ddf9;
    --app-color-accent-dark: #60abc6;
    --app-color-accent-light: #c7ffff;
    --app-color-accent-text: #000;
    --app-color-background: #fff;
    --app-color-border: #00000c;
    --app-color-error: #b22222;
    --app-color-error-text: #fff;
    --app-color-highlight: #f2a900;
    --app-color-placeholder: #00000c80;
    --app-color-primary: #052a33;
    --app-color-primary-dark: #00000c;
    --app-color-primary-light: #32535c;
    --app-color-primary-text: #fff;
    --editor-block-background: var(--app-color-primary-dark);
    --editor-block-color: var(--app-color-primary-text);
    --editor-border: var(--app-color-border);
    --editor-button-background: var(--app-color-primary-dark);
    --editor-button-color: var(--app-color-primary-text);
    --editor-cancel-background: var(--app-color-primary-light);
    --editor-cancel-color: var(--app-color-primary-text);
    --editor-dialog-backdrop: #000000cc;
    --editor-dialog-background: var(--app-color-background);
    --editor-dialog-color: var(--app-color-primary);
    --editor-error: var(--app-color-error);
    --editor-focus: var(--app-color-accent);
    --editor-hover: var(--app-color-accent);
    --editor-slot: #96442e;
    --editor-sortover: var(--app-color-border);
    --editor-toolbar-background: var(--app-color-background);
    --editor-toolbar-color: var(--app-color-primary);
}

/**
 * Font
 */
@font-face {
    font-family: cms;
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url(font/cms.woff2) format('woff2');
}

/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0 0.75rem 3rem;
    font-family: sans-serif;
}

body > * {
    padding: 0.75rem 0;
}

/**
 * Margin
 */
:is(details, h1, h2, h3, p, ol, ul, figure, table):not(:first-child),
:is(main, article, aside, form, fieldset, figure.blockquote) > :not(:first-child),
:is(.block-index, .block-index > .content, .table) > :not(:first-child),
form akilli-editor {
    margin-top: 1.5rem;
}

:is(nav ul, table p, .msg p):not(:first-child),
:is(.table, .block-index > .table) > * > :not(:first-child),
.table > :not(.thead):first-of-type,
details + details {
    margin-top: 0;
}

/**
 * Color
 */
body {
    color: var(--app-color-primary);
    background: var(--app-color-background);
}

::selection,
details[open],
.msg {
    color: var(--app-color-accent-text);
    background: var(--app-color-accent);
}

details,
hr,
pre,
kbd,
button,
input[type=button],
input[type=submit],
input:is([type=checkbox], [type=radio]):checked,
:is(details[open], .msg) ::selection,
:is(#toolbar, #menu),
:is(#toolbar, #menu) li ul,
:root[data-entity=account][data-action=login] input,
:root[data-browser] .block-index article:hover {
    color: var(--app-color-primary-text);
    background: var(--app-color-primary-dark);
}

a[role=button],
input[type=reset] {
    padding: 0.75rem;
    color: var(--app-color-primary-text);
    background: var(--app-color-primary-light);
}

form:invalid [type=submit],
:root[data-entity=account][data-action=login] :is(.msg, div[data-invalid] :invalid) {
    color: var(--app-color-error-text);
    background: var(--app-color-error);
}

mark {
    color: inherit;
    background: var(--app-color-highlight);
}

akilli-editor :is(editor-toolbar, editor-formatbar, editor-focusbar) button {
    color: inherit;
    background: none;
}

::placeholder,
akilli-editor :is(editor-root, editor-root [contenteditable=true]):empty:after {
    color: var(--app-color-placeholder);
}

main a {
    color: var(--app-color-accent);
}

details a:not([role=button]) {
    color: inherit;
}

figure.blockquote::before,
:not(figure.blockquote) > blockquote::before {
    color: var(--app-color-accent);
}

/**
 * Font Size
 */
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

figcaption,
table,
input[type=file],
.filter form,
.pager,
.error,
.file-current,
.file-delete,
#toolbar,
#menu,
#breadcrumb,
:root[data-entity=role]:is([data-action=add], [data-action=edit]) [data-attr=privilege] {
    font-size: 0.875rem;
}

:root[data-entity=role]:is([data-action=add], [data-action=edit]) [data-attr=privilege] label[for=attr-privilege] {
    font-size: 1rem;
}

figure.blockquote::before,
:not(figure.blockquote) > blockquote::before {
    font-size: 3rem;
}

.block-index article h3 {
    font-size: inherit;
}

/**
 * Text
 */
hr {
    height: 0.5rem;
}

time {
    display: block;
}

pre {
    padding: 0.75rem;
}

ol,
ul {
    padding-left: 2rem;
}

nav ul {
    padding-left: 0;
}

mark,
kbd {
    padding: 0.125rem 0.25rem;
    border-radius: 0.125rem;
}

/**
 * Link
 */
main a:not([role=button]):not([data-action]):hover {
    text-decoration: underline;
}

/**
 * Details
 */
details {
    padding: 0.6875rem 0.3125rem;
    border: 0.0625rem solid var(--app-color-primary-dark);
}

details[open] summary {
    padding-bottom: 0.6875rem;
    border-bottom: 0.0625rem solid var(--app-color-primary-dark);
}

details a:not([role=button]) {
    text-decoration: underline double;
}

/**
 * Figure
 */
figure.left {
    max-width: 50%;
    float: left;
    margin-right: 0.75rem;
}

figure.center {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

figure.right {
    max-width: 50%;
    float: right;
    margin-left: 0.75rem;
}

/**
 * Blockquote
 */
figure.blockquote,
:not(figure.blockquote) > blockquote {
    position: relative;
    padding: 0.6875rem 3.375rem 0.6875rem 0.75rem;
    text-align: center;
    border-top: 0.0625rem solid var(--app-color-accent);
    border-bottom: 0.0625rem solid var(--app-color-accent);
}

figure.blockquote::before,
:not(figure.blockquote) > blockquote::before {
    position: absolute;
    right: 0;
    top: 0.75rem;
    display: block;
    line-height: 3rem;
    font-family: cms;
    content: '\e806';
}

/**
 * Table
 */
table {
    width: 100%;
}

td,
th {
    padding: 0.71875rem 0.375rem;
    border-bottom: 0.0625rem dotted var(--app-color-border);
}

:is(thead, tbody:not(:last-child)) tr:last-child :is(td, th) {
    border-bottom-style: solid;
}

/**
 * Index
 */
.block-index article label {
    font-weight: bold;
}

.block-index :is(audio, iframe, video) {
    pointer-events: none;
}

.block-index :is(iframe, img, video) {
    max-width: 15rem;
    max-height: 10.5rem;
}

/**
 * Index Table
 */
.table > .thead {
    display: none;
}

.table :is(img, video) {
    max-width: 9rem;
    max-height: 6rem;
}

.table [data-label]::before {
    font-weight: bold;
    content: attr(data-label);
}

.table > :not(.thead) > :not(.action) {
    display: grid;
    grid-template-columns: 25fr 75fr;
}

/**
 * Index Browser
 */
:root[data-browser] .block-index .action {
    display: none;
}

:root[data-browser] .block-index article {
    cursor: pointer;
}

/**
 * Filter
 */
.filter form {
    margin: 0.75rem 0 0.75rem 1rem;
}

/**
 * Pager
 */
.pager {
    padding: 0.75rem 0;
}

/**
 * Message
 */
.msg {
    margin: 0 -0.75rem;
    padding: 0.75rem;
}

/**
 * Form
 */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
legend,
select,
textarea {
    padding: 0.71875rem 0;
    border-bottom: 0.0625rem solid var(--app-color-border);
}

fieldset input[type=date],
fieldset input[type=datetime-local],
fieldset input[type=email],
fieldset input[type=number],
fieldset input[type=password],
fieldset input[type=search],
fieldset input[type=tel],
fieldset input[type=text],
fieldset input[type=time],
fieldset input[type=url],
fieldset select {
    width: 100%;
    max-width: 30rem;
}

button,
input[type=button],
input[type=submit] {
    padding: 0.75rem;
}

a[role=button],
input[type=reset] {
    padding: 0.75rem;
}

legend,
textarea {
    width: 100%;
}

select[multiple],
textarea {
    height: 15rem;
}

select {
    background: none;
    appearance: none;
}

input[type=checkbox],
input[type=radio] {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.125rem 0;
    padding: 0.5625rem 0;
    border: 0.0625rem solid var(--app-color-border);
    appearance: none;
}

input[type=radio] {
    border-radius: 1rem;
}

input:is([type=checkbox], [type=radio]):checked {
    border-color: var(--app-color-primary);
}

label,
output {
    display: block;
}

input:is([type=checkbox], [type=radio]) + label {
    display: inline-block;
    margin: 0 0.5rem 0 0.25rem;
}

input:is([type=checkbox], [type=radio])[disabled] + label {
    opacity: 0.2;
}

div[data-required] > label:first-child::after {
    content: '*';
}

div[data-invalid] {
    color: var(--app-color-error);
}

div[data-invalid] :invalid {
    border-bottom: 0.0625rem solid var(--app-color-error);
}

.error {
    margin: 0;
    font-weight: bold;
    color: var(--app-color-error);
}

/**
 * Editor
 */
akilli-editor {
    margin-left: 2.625rem;
}

akilli-editor editor-root {
    min-height: 15rem;
}

form akilli-editor editor-root {
    max-height: 45rem;
    overflow-y: scroll;
}

akilli-editor editor-toolbar {
    top: 3rem;
}

/**
 * Header
 */
#header .name img {
    max-height: 6rem;
}

/**
 * Navigation
 */
nav a[aria-current] {
    text-decoration: underline;
}

:is(#toolbar, #menu) {
    margin: 0 -0.75rem;
    padding: 0.75rem;
}

:root[data-browser] #toolbar {
    display: none;
}

/**
 * Breadcrumb
 */
#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb a:not(:last-child)::after {
    display: inline-block;
    content: '>';
    padding: 0 0.5rem;
    text-decoration: none;
}

/**
 * Account Login
 */
:root[data-entity=account][data-action=login] body {
    background: url(cms.svg) no-repeat center;
    background-size: cover;
}

:root[data-entity=account][data-action=login] input {
    padding: 0.75rem;
    border: 0;
}

:root[data-entity=account][data-action=login] .msg {
    margin: 1.5rem 0 0;
}

:root[data-entity=account][data-action=login] main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
    height: 100vh;
    margin: 0 auto;
}

:root[data-entity=account][data-action=login] main > * {
    width: 100%;
}

/**
 * Role Edit
 */
:root[data-entity=role]:is([data-action=add], [data-action=edit]) [data-attr=privilege] {
    display: grid;
    grid-template-columns: 1.25rem auto;
}

:root[data-entity=role]:is([data-action=add], [data-action=edit]) [data-attr=privilege] label[for=attr-privilege] {
    grid-column: span 2;
}

/**
 * Block Edit
 */
:root[data-parent=block]:is([data-action=add], [data-action=edit]) editor-toolbar button[data-command=block] {
    display: none;
    pointer-events: none;
}

/**
 * Clear
 */
[data-type=editor]::before {
    display: table;
    content: ' ';
}

[data-type=editor]::after {
    display: table;
    content: ' ';
    clear: both;
}

/**
 * Screen
 */
@media screen {
    /**
     * Font Size
     */
    a[data-action] {
        font-size: 0;
    }

    a[data-action]::before {
        font-size: 1rem;
    }

    :is(#toolbar, #menu)::before {
        font-size: 1.5rem;
    }

    /**
     * Action
     */
    a[data-action] {
        display: inline-block;
        line-height: 1;
        font-family: cms;
    }

    a:is([data-action=delete], [data-action=remove])::before {
        content: '\e801';
    }

    a[data-action=edit]::before {
        content: '\e805';
    }

    a[data-action=view]::before {
        content: '\e802';
    }

    a[data-action=browser]::before {
        content: '\e804';
    }

    /**
     * Navigation
     */
    :is(#toolbar, #menu) {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    :is(#toolbar, #menu)[data-open] {
        position: relative;
    }

    :is(#toolbar, #menu) ul {
        display: none;
        margin-left: 1.5rem;
    }

    :is(#toolbar, #menu)[data-open] > ul,
    :is(#toolbar, #menu) a[aria-expanded=true] + ul {
        display: block;
    }

    :is(#toolbar, #menu) > ul {
        margin: 1.5rem 0 0;
    }

    :is(#toolbar, #menu)::before,
    :is(#toolbar, #menu) a[aria-haspopup=true]::after {
        line-height: 1;
        font-family: cms;
        cursor: pointer;
    }

    #menu::before {
        content: '\e807';
    }

    #toolbar::before {
        content: '\e808';
    }

    :is(#toolbar, #menu)[data-open]::before {
        content: '\e800';
    }

    :is(#toolbar, #menu) a[aria-haspopup=true]::after {
        margin-left: 0.375rem;
        content: '\e813';
    }

    :is(#toolbar, #menu) a[aria-haspopup=true][aria-expanded=true]::after {
        margin-left: 0.375rem;
        content: '\e811';
    }
}

/**
 * Desktop + Print
 */
@media screen and (min-width: 55rem), print {
    /**
     * Index Table
     */
    .table > * {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        column-gap: 0.75rem;
        padding: 0.71875rem 0;
        border-bottom: 0.0625rem dotted;
    }

    .table > .thead {
        display: grid;
        font-weight: bold;
        border-style: solid;
    }

    .table > * > * {
        vertical-align: middle;
        text-align: left;
    }

    .table > :not(.thead) > :not(.action) {
        display: block;
    }

    .table > .thead > * {
        color: inherit;
    }

    .table > .thead > a[data-sort=asc]::after {
        display: inline-block;
        content: '⇑';
    }

    .table > .thead > a[data-sort=desc]::after {
        display: inline-block;
        content: '⇓';
    }

    .table [data-label]::before {
        display: none;
    }

    .block-index > .table > :not(:first-child) {
        margin-top: 0;
    }
}

/**
 * Desktop
 */
@media screen and (min-width: 55rem) {
    /**
     * Navigation
     */
    :is(#toolbar, #menu)::before {
        display: none;
    }

    :is(#toolbar, #menu) > ul {
        display: block;
    }

    :is(#toolbar, #menu) ul {
        margin-left: 0;
    }

    :is(#toolbar, #menu) > ul {
        margin-top: 0;
    }

    :is(#toolbar, #menu) li ul {
        position: absolute;
    }

    :is(#toolbar, #menu) li li ul {
        top: 0;
        left: 100%;
    }

    :is(#toolbar, #menu) > ul > li {
        display: inline-block;
        margin-right: 0.625rem;
    }

    :is(#toolbar, #menu) li li {
        position: relative;
        display: block;
        padding: 0.375rem;
    }

    /**
     * Pager
     */
    .pager {
        display: flex;
        justify-content: space-between;
    }

    /**
     * Header
     */
    #header .name img {
        max-height: 10.5rem;
    }
}

/**
 * Print
 */
@media print {
    /**
     * Font Size
     */
    summary {
        font-size: 1.125rem;
    }

    #content a:not([role]):not([data-action]):not([href^='?'])::after {
        font-size: 0.875rem;
    }

    /**
     * Global
     */
    body {
        padding: 0;
    }

    /**
     * Details
     */
    summary {
        display: block;
    }

    /**
     * Pagebreak
     */
    h1,
    h2,
    h3,
    summary {
        page-break-after: avoid;
    }

    /**
     * Links
     */
    #content a:not([role]):not([data-action]):not([href^='?'])::after {
        content: ' (' attr(href) ')';
        font-style: italic;
        text-transform: none;
    }

    /**
     * Header
     */
    #header {
        border-bottom: 0.0625rem solid;
    }

    /**
     * Hidden
     */
    body > :not(#header):not(main),
    main > :not(#content),
    .block-add,
    .block-index :is(.thead, article) > :is(::after, .action),
    .filter,
    .pager {
        display: none;
    }
}
