/**
 * Variable
 */
:root {
    --app-color-accent: #93ddf9;
    --app-color-background: #fff;
    --app-color-border: #bbb;
    --app-color-error: #900;
    --app-color-highlight: #ff0;
    --app-color-primary: #052a33;
    --app-color-shadow-dark: rgba(0, 0, 0, 0.25);
    --app-color-shadow-light: #e0e0e0;
}

/**
 * Font
 */
@font-face {
    font-family: cms;
    font-display: block;
    font-style: normal;
    font-weight: 900;
    src: url(font/cms.woff2) format('woff2');
}

/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0 0.75rem;
    font-family: sans-serif;
    color: var(--app-color-primary);
    background: var(--app-color-background);
}

body > * {
    padding: 0.75rem 0;
}

details:not(:first-child),
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
p:not(:first-child),
ol:not(:first-child),
ul:not(:first-child),
figure:not(:first-child),
table:not(:first-child),
main > :not(:first-child),
article > :not(:first-child),
aside > :not(:first-child),
form > :not(:first-child),
fieldset > :not(:first-child),
.block-index > :not(:first-child),
.block-index > .content > :not(:first-child) {
    margin-top: 1.5rem;
}

details + details,
nav ul:not(:first-child),
table p:not(:first-child),
.msg p:not(:first-child) {
    margin-top: 0;
}

::selection {
    color: var(--app-color-background);
    background: var(--app-color-primary);
}

/**
 * Text
 */
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

time {
    display: block;
}

pre {
    padding: 0.75rem;
    color: var(--app-color-background);
    background: var(--app-color-primary);
}

ol,
ul {
    padding-left: 2rem;
}

nav ul {
    padding-left: 0;
}

mark {
    padding: 0.125rem 0.25rem;
    background: var(--app-color-highlight);
}

kbd {
    padding: 0.125rem 0.25rem;
    color: var(--app-color-background);
    background: var(--app-color-primary);
    border-radius: 0.125rem;
    box-shadow: inset 0 -0.0625rem 0 var(--app-color-shadow-dark);
}

/**
 * Figure
 */
figure.left {
    max-width: 50%;
    float: left;
    margin-right: 0.75rem;
}

figure.right {
    max-width: 50%;
    float: right;
    margin-left: 0.75rem;
}

figcaption {
    font-size: 0.875rem;
}

/**
 * Blockquote
 */
figure.blockquote,
blockquote {
    text-align: center;
    color: var(--app-color-background);
    background: var(--app-color-accent);
    border-radius: 0.125rem;
    box-shadow: 0.125rem 0.125rem 0.125rem var(--app-color-shadow-light);
}

blockquote {
    padding: 0.75rem;
}

figure.blockquote blockquote {
    border-radius: 0;
    box-shadow: none;
}

blockquote::before {
    display: block;
    line-height: 3rem;
    font-family: cms;
    font-size: 3rem;
    content: '\f10e';
}

figure.blockquote {
    color: var(--app-color-background);
    background: var(--app-color-accent);
}

figure.blockquote figcaption {
    padding: 0.6875rem 0.75rem 0.75rem;
    border-top: 0.0625rem solid;
}

/**
 * Table
 */
table {
    width: 100%;
    font-size: 0.875rem;
}

td,
th {
    padding: 0.71875rem 0.375rem;
    border: 0.0625rem solid var(--app-color-border);
}

thead tr:last-child td,
thead tr:last-child th,
tbody:not(:last-child) tr:last-child td,
tbody:not(:last-child) tr:last-child th {
    border-bottom-color: var(--app-color-primary);
}

/**
 * Main
 */
main a {
    color: var(--app-color-accent);
}

main a:not([role=button]):not([data-action]):hover {
    text-decoration: underline;
}

/**
 * Index
 */
.block-index iframe,
.block-index img,
.block-index video {
    max-width: 15rem;
    max-height: 10.5rem;
}

/**
 * Filter
 */
.filter {
    margin: 0.75rem 0 0.75rem 1rem;
    font-size: 0.875rem;
}

/**
 * Pager
 */
.pager {
    padding: 0.75rem 0;
    font-size: 0.875rem;
}

/**
 * Message
 */
.msg {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    color: var(--app-color-background);
    background: var(--app-color-accent);
}

/**
 * Toolbar
 */
#toolbar {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: var(--app-color-background);
    background: var(--app-color-primary);
}

:root[data-browser] #toolbar {
    display: none;
}

#toolbar li ul {
    background: var(--app-color-primary);
}

#toolbar a.current {
    text-decoration: underline;
}

/**
 * Clear
 */
[class^='block-']::before,
[data-type=editor]::before {
    display: table;
    content: ' ';
}

[class^='block-']::after,
[data-type=editor]::after {
    display: table;
    content: ' ';
    clear: both;
}

/**
 * Screen
 */
@media screen {
    /**
     * Actions
     */
    a[data-action] {
        display: inline-block;
        line-height: 1;
        font-family: cms;
        font-size: 0;
    }

    a[data-action]::before {
        font-size: 1rem;
    }

    /**
     * Navigation
     */
    nav[data-toggle] {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    nav[data-toggle=open] {
        position: relative;
    }

    nav[data-toggle] ul {
        display: none;
        margin-left: 1.25rem;
    }

    nav[data-toggle] > ul {
        margin-top: 1.5rem;
    }

    nav[data-toggle] a[data-action=toggle][data-toggle] ~ ul {
        display: block;
    }

    nav[data-toggle] > a[data-action=toggle] {
        display: block;
        font-size: 1.5rem;
    }

    nav[data-toggle] ul a[data-action=toggle] {
        display: inline-block;
        margin: 0 0.75rem 0 -1.25rem;
    }

    nav[data-toggle] ul a[data-action=toggle][data-toggle] {
        margin-right: 0.5rem;
    }

    nav[data-toggle] > a[data-action=toggle]::before {
        font-size: 1.5rem;
        content: '\f0c9';
    }

    nav[data-toggle] ul a[data-action=toggle]::before {
        font-size: 0.75rem;
        content: '\f054';
    }

    nav[data-toggle] ul a[data-action=toggle][data-toggle]::before {
        content: '\f078';
    }
}

/**
 * Desktop
 */
@media screen and (min-width: 55rem) {
    /**
     * Navigation
     */
    nav[data-toggle] li ul,
    nav[data-toggle] a[data-action=toggle][data-toggle] ~ ul,
    nav[data-toggle] > a[data-action=toggle],
    nav[data-toggle] ul a[data-action=toggle] {
        display: none;
    }

    nav[data-toggle] > ul,
    nav[data-toggle] li:hover > ul,
    nav[data-toggle] > a[data-action=toggle][data-toggle] ~ ul,
    nav[data-toggle] li:hover > a[data-action=toggle][data-toggle] ~ ul {
        display: block;
    }

    nav[data-toggle] ul {
        margin-left: 0;
    }

    nav[data-toggle] > ul {
        margin-top: 0;
    }

    nav[data-toggle] li ul {
        position: absolute;
    }

    nav[data-toggle] li li ul {
        top: 0;
        left: 100%;
    }

    nav[data-toggle] > ul > li {
        display: inline-block;
        margin-right: 0.625rem;
    }

    nav[data-toggle] li li {
        position: relative;
        display: block;
        padding: 0.375rem;
    }

    /**
     * Pager
     */
    .pager {
        display: flex;
        justify-content: space-between;
    }
}

/**
 * Print
 */
@media print {
    /**
     * Global
     */
    body {
        padding: 0;
    }

    /**
     * Details
     */
    summary {
        display: block;
        font-size: 1.125rem;
    }

    /**
     * Pagebreak
     */
    h1,
    h2,
    h3,
    summary {
        page-break-after: avoid;
    }

    /**
     * Links
     */
    #content a:not([role]):not([data-action])::after {
        content: ' (' attr(href) ')';
        font-size: 0.875rem;
        font-style: italic;
        text-transform: none;
    }
}
