/**
 * Font
 */
@font-face {
    font-family: material;
    font-weight: normal;
    font-style: normal;
    src: url(font/material.woff2) format('woff2'), url(font/material.woff) format('woff');
}

/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > * {
    padding: 0.75rem 0;
}

figure:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child),
fieldset > *,
main > :not(:last-child),
#content > :not(:last-child):not(details),
#sidebar > :not(:last-child):not(details) {
    margin-bottom: 1.5rem;
}

details + :not(details),
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 1.5rem;
}

/**
 * Alignment
 */
.left {
    float: left;
    margin: 0 0.75rem 1.5rem 0;
}

.right {
    float: right;
    margin: 0 0 1.5rem 0.75rem;
}

/**
 * Text
 */
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

pre {
    padding: 1.5rem;
    color: #fff;
    background: #000;
}

time[data-attr] {
    display: block;
}

/**
 * Figure
 */
figcaption {
    font-size: 0.875rem;
}

/**
 * List
 */
ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

li ol,
li ul,
li p {
    margin: 0;
}

/**
 * Table
 */
table {
    width: 100%;
    margin: 1.5rem 0;
    font-size: 0.875rem;
}

thead {
    border-bottom: solid 0.0625rem #000;
}

td,
th {
    padding: 0.71875rem 0.375rem;
}

th {
    border-bottom: solid 0.0625rem #000;
}

td {
    border-bottom: solid 0.0625rem #e4e7ea;
}

table p {
    margin: 0;
}

/**
 * Form
 */
fieldset [type=email],
fieldset [type=password],
fieldset [type=search],
fieldset [type=tel],
fieldset [type=text],
fieldset [type=url],
fieldset select {
    width: 100%;
    max-width: 30rem;
}

legend {
    width: 100%;
    padding: 0.71875rem 0;
    border-bottom: solid 0.0625rem #000;
}

label {
    display: block;
}

[type=checkbox] + label,
[type=radio] + label {
    display: inline;
    margin: 0 0.5rem 0 0.25rem;
}

label[data-required]::after {
    content: '*';
}

input,
select,
textarea {
    line-height: inherit;
    padding: 0.71875rem 0;
    border-bottom: solid 0.0625rem #e4e7ea;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
}

select[multiple] {
    height: 15rem;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    line-height: 1.5rem;
    padding: 0.75rem;
    color: #fff;
    background: #000;
    border: 0;
}

[type=checkbox],
[type=radio] {
    padding: 0.75rem 0;
    border: 0;
}

[type=checkbox][data-type=bool] {
    position: relative;
    display: block;
    width: 6rem;
    height: 1.5rem;
    padding: 0;
    border: 0.0625rem solid #e4e7ea;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

[type=checkbox][data-type=bool]::after {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    width: 3rem;
    height: 1.5rem;
    background: #000;
    border: 0.0625rem solid #e4e7ea;
    content: '';
}

[type=checkbox][data-type=bool]:checked::after {
    left: auto;
    right: -0.0625rem;
}

[type=file] {
    padding: 0;
    font-size: 0.875rem;
    background: none;
    border: 0;
}

textarea {
    width: 100%;
    height: 15rem;
}

::placeholder {
    color: #e4e7ea;
}

:focus:invalid,
.invalid {
    border-bottom: solid 0.0625rem #900;
}

.error {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: #900;
}

form [data-type=nope] {
    display: none;
}

/**
 * Actions
 */
span[data-action] {
    cursor: pointer;
}

/**
 * RTE
 */
#content .cke {
    border: 0.0625rem solid #e4e7ea;
}

#content form .cke {
    height: 32.875rem;
}

#content .cke_top {
    border-bottom: 0.0625rem solid #e4e7ea;
}

#content .cke_combo::after {
    border-right: 0;
}

/**
 * Toolbar
 */
#toolbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    background: #000;
}

#toolbar a:hover,
#toolbar a.active {
    text-decoration: underline;
}

/**
 * Menu
 */
#menu {
    position: relative;
    z-index: 100;
    margin: 0 -0.75rem;
    padding: 0.75rem;
    color: #fff;
    background: #000;
}

@supports (position: sticky) {
    #menu {
        position: sticky;
        top: 0;
    }

    #menu[data-toggle=open] {
        position: relative;
    }
}

#menu ul {
    margin-left: 1.25rem;
}

#menu[data-toggle] > span[data-action=toggle] {
    display: block;
    font-size: 1.5rem;
}

#menu[data-toggle] > span[data-action=toggle]::after {
    font-family: material;
    content: '\f35c';
}

#menu[data-toggle] ul span[data-action=toggle] {
    display: inline-block;
    margin: 0 0.25rem 0 -1.25rem;
}

#menu[data-toggle] ul span[data-action=toggle]::after {
    font-family: material;
    content: '\f142';
}

#menu[data-toggle] ul span[data-action=toggle][data-toggle]::after {
    content: '\f140';
}

#menu[data-toggle] ul {
    display: none;
}

#menu[data-toggle] span[data-action=toggle][data-toggle] ~ ul {
    display: block;
}

/**
 * Breadcrumb
 */
#breadcrumb {
    font-size: 0.875rem;
}

#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb a:not(:last-child)::after {
    display: inline-block;
    content: '>';
    padding: 0 0.5rem;
    text-decoration: none;
}

/**
 * Message
 */
.msg {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    color: #fff;
    background: #000;
}

.msg p {
    margin: 0;
}

/**
 * Main
 */
main a,
main span[data-action] {
    color: #60abc6;
}

main a:hover {
    text-decoration: underline;
}

main ::-moz-selection {
    color: #000;
    background: #93ddf9;
}

main ::selection {
    color: #000;
    background: #93ddf9;
}

/**
 * Index
 */
.block-index audio,
.block-index iframe,
.block-index img,
.block-index video {
    max-width: 15rem;
    max-height: 10rem;
}

.block-index > header,
.block-index article {
    margin-bottom: 1.5rem;
}

a[data-sort=asc]::after {
    display: inline-block;
    text-decoration: none;
    content: '⇑';
}

a[data-sort=desc]::after {
    display: inline-block;
    text-decoration: none;
    content: '⇓';
}

/**
 * Pager
 */
.pager {
    padding: 0.75rem 0;
    font-size: 0.875rem;
}

.pager div {
    display: inline;
}

.pager .info {
    margin-right: 1.5rem;
}

/**
 * Slider
 */
.slider .items figure {
    margin: 0;
}

.slider .items img {
    display: block;
}

.slider .items figcaption {
    display: none;
}

.slider .items.is-fullscreen {
    z-index: 999;
}

.slider .items.is-fullscreen figure {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slider .items.is-fullscreen img {
    max-height: 90%;
}

.slider .items.is-fullscreen figcaption {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}

.slider .flickity-prev-next-button {
    background: rgba(255, 255, 255, 0.75);
}

.slider .flickity-prev-next-button:hover {
    background: #fff;
}

/**
 * Admin
 */
html[data-area=_admin_] .block-index .thead {
    margin: 0;
    padding: 0.75rem 0;
    font-weight: bold;
}

html[data-area=_admin_] .block-index .thead > * {
    display: block;
    color: inherit;
}

html[data-area=_admin_] .block-index article {
    margin: 0;
    padding: 0.75rem 0;
}

html[data-area=_admin_] .block-index article h3 {
    margin: 0;
    font-size: inherit;
}

/**
 * Clear
 */
[class^="block-"]::before,
html[data-area=_public_] [data-type=rte]::before {
    display: table;
    content: " ";
}

[class^="block-"]::after,
html[data-area=_public_] [data-type=rte]::after {
    display: table;
    content: " ";
    clear: both;
}

/**
 * Desktop
 */
@media screen and (min-width: 55rem) {
    /**
     * Navigation
     */
    #toolbar {
        display: block;
    }

    #toolbar + * {
        margin-top: 3rem;
    }

    #menu ul {
        margin-left: 0;
    }

    #toolbar > ul > li,
    #menu > ul > li {
        display: inline-block;
        margin-right: 0.625rem;
    }

    #toolbar li li,
    #menu li li {
        position: relative;
        display: block;
        padding: 0.375rem;
    }

    #toolbar li ul,
    #menu li ul {
        position: absolute;
        display: none;
    }

    #toolbar li ul {
        background: #000;
    }

    #menu li ul {
        background: #000;
    }

    #toolbar li li ul,
    #menu li li ul {
        top: 0;
        left: 100%;
    }

    #toolbar li:hover > ul,
    #menu li:hover > ul {
        display: block;
    }

    #menu[data-toggle] > span[data-action=toggle],
    #menu[data-toggle] ul span[data-action=toggle] {
        display: none;
    }

    #menu[data-toggle] > ul {
        display: block;
    }

    /**
     * Admin
     */
    html[data-area=_admin_] .block-index {
        display: table;
        width: 100%;
        font-size: 0.875rem;
        empty-cells: show;
        border-spacing: 0;
    }

    html[data-area=_admin_] .block-index .thead,
    html[data-area=_admin_] .block-index article {
        display: table-row;
    }

    html[data-area=_admin_] .block-index .thead > *,
    html[data-area=_admin_] .block-index article > * {
        display: table-cell;
        padding: 0.71875rem 0.375rem;
        vertical-align: top;
        text-align: left;
    }

    html[data-area=_admin_] .block-index .thead > * {
        border-bottom: solid 0.0625rem #000;
    }

    html[data-area=_admin_] .block-index article > * {
        border-bottom: solid 0.0625rem #e4e7ea;
    }

    /**
     * Admin Login
     */
    html[data-area=_admin_][data-url="/account/login"] main {
        display: flex;
        flex: 1 0;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    html[data-area=_admin_][data-url="/account/login"] #content {
        width: 100%;
        max-width: 30rem;
    }

    /**
     * Admin Browser
     */
    html[data-area=_admin_][data-action=browser] #content .block-index {
        display: flex;
        flex-wrap: wrap;
    }

    html[data-area=_admin_][data-action=browser] #content .block-index > * {
        width: 100%;
    }

    html[data-area=_admin_][data-action=browser] #content .block-index > article {
        display: block;
        width: 25%;
        border: 0.0625rem solid #fff;
        cursor: pointer;
    }

    html[data-area=_admin_][data-action=browser] #content .block-index > article > * {
        display: block;
        border: 0;
    }

    html[data-area=_admin_][data-action=browser] #content .block-index > article:hover {
        border-color: #000;
    }

    html[data-area=_admin_][data-action=browser] #content .block-index audio,
    html[data-area=_admin_][data-action=browser] #content .block-index iframe,
    html[data-area=_admin_][data-action=browser] #content .block-index video {
        pointer-events: none;
    }
}

/**
 * Print
 */
@media print {
    body {
        padding: 0;
    }

    /**
     * Details
     */
    details {
        margin-bottom: 1.5rem;
    }

    summary {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
    }

    /**
     * Pagebreak
     */
    h1,
    h2,
    h3,
    summary {
        page-break-after: avoid;
    }

    /**
     * Links
     */
    #content a::after,
    #footer a::after {
        content: " (" attr(href) ")";
        font-size: 0.875rem;
        font-style: italic;
    }

    /**
     * Header
     */
    #header {
        border-bottom: solid 1px #000;
    }

    /**
     * Hidden
     */
    #toolbar,
    #menu,
    #sidebar,
    .block-search,
    nav.pager,
    .slider {
        display: none !important;
    }
}
