fieldset [type=email],
fieldset [type=password],
fieldset [type=search],
fieldset [type=tel],
fieldset [type=text],
fieldset [type=url],
fieldset select {
    width: 100%;
    max-width: 30rem;
}

label {
    display: block;
}

[type=checkbox] + label,
[type=radio] + label {
    display: inline;
    margin: 0 0.5rem 0 0.25rem;
}

label[data-required]::after {
    content: '*';
}

input,
select,
textarea {
    line-height: inherit;
    padding: 0.71875rem 0;
    border-bottom: solid 0.0625rem #bbb;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
}

select[multiple] {
    height: 15rem;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    line-height: 1.5rem;
    padding: 0.75rem;
    color: #fff;
    background: #000;
    border: 0;
}

[type=checkbox],
[type=radio] {
    padding: 0.75rem 0;
    border: 0;
}

[type=checkbox][data-type=bool] {
    position: relative;
    display: block;
    width: 6rem;
    height: 1.5rem;
    padding: 0;
    border: 0.0625rem solid #bbb;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

[type=checkbox][data-type=bool]::after {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    width: 3rem;
    height: 1.5rem;
    background: #000;
    border: 0.0625rem solid #bbb;
    content: '';
}

[type=checkbox][data-type=bool]:checked::after {
    left: auto;
    right: -0.0625rem;
}

[type=file] {
    padding: 0;
    font-size: 0.875rem;
    background: none;
    border: 0;
}

textarea {
    width: 100%;
    height: 15rem;
}

::placeholder {
    color: #bbb;
}

:focus:invalid,
.invalid {
    border-bottom: solid 0.0625rem #900;
}

.error {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: #900;
}

/**
 * RTE
 */
#content .cke {
    border: 0.0625rem solid #bbb;
}

#content form .cke {
    height: 32.875rem;
}

#content form [data-type=rtemin] .cke {
    height: 17.875rem;
}

#content .cke_top {
    border-bottom: 0.0625rem solid #bbb;
}

#content .cke_combo::after {
    border-right: 0;
}
