body {
    padding: 0;
}

h1,
h2,
h3,
summary {
    break-after: avoid;
    page-break-after: avoid;
}

details {
    margin-bottom: 1.5rem;
}

summary {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

#toolbar,
#menu,
#sidebar,
form.search,
nav.pager,
html[data-shim-details] details > summary:first-child::before {
    display: none !important;
}

#content a::after,
#footer a::after {
    content: " (" attr(href) ")";
    font-size: 0.875rem;
    font-style: italic;
}

#header {
    border-bottom: solid 1px #00000c;
}

.index audio,
.index img,
.index video {
    max-width: 15rem;
}
