/**
 * Header
 */
#header .name img {
    height: 6rem;
}

/**
 * Menu
 */
#menu {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: var(--app-color-background);
    background: var(--app-color-primary);
}

#menu li ul {
    background: var(--app-color-primary);
}

/**
 * Breadcrumb
 */
#breadcrumb {
    font-size: 0.875rem;
}

#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb a:not(:last-child)::after {
    display: inline-block;
    content: '>';
    padding: 0 0.5rem;
    text-decoration: none;
}

/**
 * Desktop
 */
@media screen and (min-width: 55rem) {
    /**
     * Header
     */
    #header .name img {
        height: 10.5rem;
    }
}

/**
 * Print
 */
@media print {
    /**
     * Header
     */
    #header {
        border-bottom: 0.0625rem solid;
    }

    /**
     * Hidden
     */
    body > :not(#header):not(main),
    main > :not(#content),
    .filter,
    .pager {
        display: none;
    }
}
