/**
 * Global
 */
body {
    line-height: 1.5rem;
    padding: 0 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > * {
    padding: 0.75rem 0;
}

figure:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child),
fieldset > *,
main > :not(:last-child),
#content > :not(:last-child):not(details),
#sidebar > :not(:last-child):not(details),
.block-index > * {
    margin-bottom: 1.5rem;
}

details + :not(details),
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 1.5rem;
}

/**
 * Text
 */
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

pre {
    padding: 1.5rem;
    color: #fff;
    background: #000;
}

time[data-attr] {
    display: block;
}

/**
 * Figure
 */
figure.left {
    float: left;
    margin-right: 0.75rem;
}

figure.right {
    float: right;
    margin-left: 0.75rem;
}

figcaption {
    font-size: 0.875rem;
}

/**
 * List
 */
ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

/**
 * Table
 */
table {
    width: 100%;
    margin: 1.5rem 0;
    font-size: 0.875rem;
}

thead {
    border-bottom: solid 0.0625rem #000;
}

td,
th {
    padding: 0.71875rem 0.375rem;
}

th {
    border-bottom: solid 0.0625rem #000;
}

td {
    border-bottom: solid 0.0625rem #bbb;
}

table p {
    margin: 0;
}

/**
 * Menu
 */
#menu {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    background: #000;
}

#menu li ul {
    background: #000;
}

/**
 * Breadcrumb
 */
#breadcrumb {
    font-size: 0.875rem;
}

#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb a:not(:last-child)::after {
    display: inline-block;
    content: '>';
    padding: 0 0.5rem;
    text-decoration: none;
}

/**
 * Main
 */
main a {
    color: #60abc6;
}

main a:hover {
    text-decoration: underline;
}

main ::selection {
    color: #fff;
    background: #000;
}

/**
 * Message
 */
.msg {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    color: #fff;
    background: #000;
}

.msg p {
    margin: 0;
}

/**
 * Index
 */
.block-index audio,
.block-index iframe,
.block-index img,
.block-index video {
    max-width: 15rem;
    max-height: 10rem;
}

/**
 * Pager
 */
.pager {
    padding: 0.75rem 0;
    font-size: 0.875rem;
}

.pager div {
    display: inline;
}

.pager .info {
    margin-right: 1.5rem;
}

/**
 * Clear
 */
[class^="block-"]::before,
[data-type=rte]::before {
    display: table;
    content: " ";
}

[class^="block-"]::after,
[data-type=rte]::after {
    display: table;
    content: " ";
    clear: both;
}

/**
 * Print
 */
@media print {
    body {
        padding: 0;
    }

    /**
     * Details
     */
    details {
        margin-bottom: 1.5rem;
    }

    summary {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
    }

    /**
     * Pagebreak
     */
    h1,
    h2,
    h3,
    summary {
        page-break-after: avoid;
    }

    /**
     * Links
     */
    #content a:not([data-action])::after {
        content: " (" attr(href) ")";
        font-size: 0.875rem;
        font-style: italic;
    }

    /**
     * Header
     */
    #header {
        border-bottom: solid 1px #000;
    }

    /**
     * Hidden
     */
    body > :not(#header):not(main),
    main > :not(#content),
    .block-search,
    .pager {
        display: none;
    }
}
