:root {
    font-size: 16px;
}

body {
    line-height: 1.5rem;
    padding: 0 0.75rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > * {
    padding: 0.75rem 0;
}

figure:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child),
fieldset > *,
main > :not(:last-child),
#content > :not(:last-child):not(details),
#sidebar > :not(:last-child):not(details) {
    margin-bottom: 1.5rem;
}

details + :not(details),
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 1.5rem;
}

/**
 * Clear
 */
#content.view > div[data-type=rte]::before {
    display: table;
    content: " ";
}

#content.view > div[data-type=rte]::after {
    display: table;
    content: " ";
    clear: both;
}

/**
 * Alignment
 */
.left {
    float: left;
    margin: 0 0.75rem 1.5rem 0;
}

.center {
    display: block;
    margin: 0 auto 1.5rem;
    text-align: center;
}

.right {
    float: right;
    margin: 0 0 1.5rem 0.75rem;
}

/**
 * Text
 */
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

pre {
    padding: 1.5rem;
    color: #fff;
    background: #00000c;
}

hr {
    height:0.0625rem;
    margin: 1.5rem 0;
    background: #e4e7ea;
}

time[data-attr] {
    display: block;
}

/**
 * Figure
 */
figcaption {
    font-size: 0.875rem;
}

/**
 * List
 */
ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

li ol,
li ul,
li p {
    margin: 0;
}

/**
 * Table
 */
table {
    width: 100%;
    margin: 1.5rem 0;
    font-size: 0.875rem;
}

thead {
    border-bottom: solid 0.0625rem #00000c;
}

td,
th {
    padding: 0.71875rem 0.375rem;
}

th {
    border-bottom: solid 0.0625rem #00000c;
}

td {
    border-bottom: solid 0.0625rem #e4e7ea;
}

table p {
    margin: 0;
}

/**
 * Form
 */
fieldset [type=email],
fieldset [type=password],
fieldset [type=search],
fieldset [type=tel],
fieldset [type=text],
fieldset [type=url],
fieldset select {
    width: 100%;
    max-width: 30rem;
}

legend {
    width: 100%;
    padding: 0.71875rem 0;
    border-bottom: solid 0.0625rem #00000c;
}

label {
    display: block;
}

[type=checkbox] + label,
[type=radio] + label {
    display: inline;
    margin: 0 0.5rem 0 0.25rem;
}

label[data-required]::after {
    content: '*';
}

input,
select,
textarea {
    line-height: inherit;
    padding: 0.71875rem 0;
    border-bottom: solid 0.0625rem #e4e7ea;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
}

select[multiple] {
    height: 15rem;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    line-height: 1.5rem;
    padding: 0.75rem;
    color: #000;
    background: #60abc6;
    border: 0;
}

[type=checkbox],
[type=radio] {
    padding: 0.75rem 0;
    border: 0;
}

[type=checkbox][data-type=bool] {
    position: relative;
    display: block;
    width: 6rem;
    height: 1.5rem;
    padding: 0;
    border: 0.0625rem solid #e4e7ea;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

[type=checkbox][data-type=bool]::after {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    width: 3rem;
    height: 1.5rem;
    background: #60abc6;
    border: 0.0625rem solid #e4e7ea;
    content: '';
}

[type=checkbox][data-type=bool]:checked::after {
    left: auto;
    right: -0.0625rem;
}

[type=file] {
    padding: 0;
    font-size: 0.875rem;
    background: none;
    border: 0;
}

textarea {
    width: 100%;
    height: 15rem;
}

::input-placeholder {
    color: #e4e7ea;
}

:focus:invalid,
.invalid {
    border-bottom: solid 0.0625rem #00000c;
}

.error {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: #32535c;
}

form [data-attr=nope] {
    display: none;
}

/**
 * Actions
 */
span[data-act] {
    cursor: pointer;
}

/**
 * RTE
 */
.cke {
    border: 0.0625rem solid #e4e7ea !important;
}

form .cke {
    height: 32.875rem !important;
}

.cke_top {
    border-bottom: 0.0625rem solid #e4e7ea !important;
}

/**
 * Toolbar
 */
#toolbar {
    display: none;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    background: #00000c;
}

#toolbar a:hover,
#toolbar a.active {
    text-decoration: underline;
}

/**
 * Menu
 */
#menu {
    display: none;
    padding: 0.75rem;
    color: #fff;
    background: #32535c;
}

#menu li ul {
    margin-left: 1.5rem;
}

#menu a {
    border-bottom: 0.25rem solid #32535c;
}

#menu a:hover,
#menu a.active {
    border-color: #93ddf9;
}

#menu.sticky[data-sticky] {
    position: fixed;
    top: 0;
    width: 100%;
}

@supports (position: sticky) {
    #menu.sticky {
        position: sticky;
        top: 0;
    }
}

/**
 * Breadcrumb
 */
#breadcrumb {
    font-size: 0.875rem;
}

#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb a:not(:last-child)::after {
    display: inline-block;
    content: '>';
    padding: 0 0.5rem;
    text-decoration: none;
}

/**
 * Message
 */
#msg {
    margin: 0 -0.75rem;
    padding: 0.75rem;
    color: #000;
    background: #c7ffff;
}

#msg p {
    margin: 0;
}

/**
 * Content
 */
#content a,
#content span[data-act] {
    color: #60abc6;
}

#content a:hover {
    text-decoration: underline;
}

#content ::-moz-selection {
    color: #000;
    background: #93ddf9;
}

#content ::selection {
    color: #000;
    background: #93ddf9;
}

/**
 * Index
 */
.index > header,
.index article {
    margin-bottom: 1.5rem;
}

html[data-act=admin] #content.index .thead {
    margin: 0;
    padding: 0.75rem 0;
    font-weight: bold;
}

html[data-act=admin] #content.index .thead > * {
    display: block;
    color: inherit;
}

html[data-act=admin] #content.index article {
    margin: 0;
    padding: 0.75rem 0;
}

html[data-act=admin] #content.index article h2 {
    margin: 0;
    font-size: inherit;
}

html[data-act=admin] #content.index p[data-act=create] {
    margin: 0;
}

a[data-sort=asc]::after {
    content: '⇑';
}

a[data-sort=desc]::after {
    content: '⇓';
}

/**
 * Pager
 */
.pager {
    padding: 0.75rem 0;
    font-size: 0.875rem;
}

.pager div {
    display: inline;
}

.pager .info {
    margin-right: 1.5rem;
}

/**
 * Slider
 */
.slider .flickity-prev-next-button {
    background: rgba(255, 255, 255, 0.75);
}

.slider .flickity-prev-next-button:hover {
    background: #fff;
}

/**
 * Gallery
 */
.gallery .items {
    display: flex;
    flex-wrap: wrap;
}

.gallery .items > * {
    margin-bottom: 0.75rem;
}

.gallery .items > :not(:first-child) {
    margin-left: 0.75rem;
}

.gallery .items img {
    width: 5.25rem;
    height: 5.25rem;
}

@supports (object-fit: cover) and (object-position: center) {
    .gallery .items img {
        object-fit: cover;
        object-position: center;
    }
}

/**
 * Dialog
 */
#dialog[open] {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

#dialog[open] button {
    line-height: 1;
    font-size: 3rem;
    color: #fff;
    background: none;
}

#dialog[open] button[data-act=close] {
    position: absolute;
    right: 0;
    top: 0;
}

#dialog[open] button[data-act=prev] {
    position: absolute;
    left: 0;
    top: 50%;
}

#dialog[open] button[data-act=next] {
    position: absolute;
    right: 0;
    top: 50%;
}

/**
 * Desktop
 */
@media screen and (min-width: 48rem) {
    /**
     * Navigation
     */
    #toolbar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        display: block;
    }

    #toolbar + * {
        margin-top: 3rem;
    }

    #menu {
        position: relative;
        z-index: 100;
        display: block;
    }

    #toolbar > ul > li,
    #menu > ul > li {
        display: inline-block;
        margin-right: 0.625rem;
    }

    #toolbar li li,
    #menu li li {
        position: relative;
        display: block;
        padding: 0.375rem;
    }

    #toolbar li ul,
    #menu li ul {
        position: absolute;
        display: none;
        margin-left: 0;
    }

    #toolbar li ul {
        background: #00000c;
    }

    #menu li ul {
        background: #32535c;
    }

    #toolbar li li ul,
    #menu li li ul {
        top: 0;
        left: 100%;
    }

    #toolbar li:hover > ul,
    #menu li:hover > ul {
        display: block;
    }

    /**
     * Index
     */
    .index audio,
    .index img,
    .index video {
        max-width: 15rem;
    }

    html[data-act=admin] #content.index {
        display: table;
        width: 100%;
        font-size: 0.875rem;
        empty-cells: show;
        border-spacing: 0;
    }

    html[data-act=admin] #content.index .thead,
    html[data-act=admin] #content.index article {
        display: table-row;
    }

    html[data-act=admin] #content.index .thead > *,
    html[data-act=admin] #content.index article > * {
        display: table-cell;
        padding: 0.71875rem 0.375rem;
        vertical-align: top;
        text-align: left;
    }

    html[data-act=admin] #content.index .thead > * {
        border-bottom: solid 0.0625rem #00000c;
    }

    html[data-act=admin] #content.index article > * {
        border-bottom: solid 0.0625rem #e4e7ea;
    }

    /**
     * Login
     */
    html[data-ent=account][data-act=login] main {
        display: flex;
        flex: 1 0;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    html[data-ent=account][data-act=login] #content {
        width: 100%;
        max-width: 30rem;
    }

    /**
     * Filebrowser
     */
    html[data-act=browser] #content {
        display: flex;
        flex-wrap: wrap;
    }

    html[data-act=browser] #content > * {
        width: 100%;
    }

    html[data-act=browser] #content > article {
        width: 25%;
    }
}

/**
 * Print
 */
@media print {
    body {
        padding: 0;
    }

    /**
     * Details
     */
    details {
        margin-bottom: 1.5rem;
    }

    summary {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
    }

    /**
     * Pagebreak
     */
    h1,
    h2,
    h3,
    summary {
        break-after: avoid;
        page-break-after: avoid;
    }

    /**
     * Links
     */
    #content a::after,
    #footer a::after {
        content: " (" attr(href) ")";
        font-size: 0.875rem;
        font-style: italic;
    }

    /**
     * Media
     */
    .index audio,
    .index img,
    .index video {
        max-width: 15rem;
    }

    /**
     * Header
     */
    #header {
        border-bottom: solid 1px #00000c;
    }

    /**
     * Hidden
     */
    #toolbar,
    #menu,
    #sidebar,
    form.search,
    nav.pager,
    .slider,
    .gallery {
        display: none !important;
    }
}
