:root {
    --bg: #fff;
    --color: #000;
    --grey: #e4e7ea;
    --primary: #052a33;
    --primary-light: #32535c;
    --primary-dark: #00000c;
    --primary-text: #fff;
    --secondary: #93ddf9;
    --secondary-light: #c7ffff;
    --secondary-dark: #60abc6;
    --secondary-text: #000;
}

body {
    line-height: 1.5rem;
    padding: 0 0.75rem;
    font-family: sans-serif;
    color: var(--color);
    background: var(--bg);
}

body > * {
    padding: 0.75rem 0;
}

figure,
h1,
h2,
h3,
p,
fieldset > *,
#content > :not(:last-child) {
    margin-bottom: 1.5rem;
}

details + :not(details),
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 1.5rem;
}

hr,
div[data-type=rte]:after {
    overflow: hidden;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    font-size: 0;
}

/**
 * Text
 */
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

pre {
    padding: 1.5rem;
    color: var(--primary-text);
    background: var(--primary-dark);
}

hr {
    height:0.0625rem;
    margin: 1.5rem 0;
    background: var(--grey);
}

/**
 * Figure
 */
figcaption {
    font-size: 0.875rem;
}

/**
 * List
 */
ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

li ol,
li ul,
li p {
    margin: 0;
}

/**
 * Table
 */
table {
    width: 100%;
    margin: 1.5rem 0;
    font-size: 0.875rem;
}

thead {
    box-shadow: 0 0.0625rem 0 var(--primary-dark);
}

td,
th {
    padding: 0.75rem 0.375rem;
}

thead a {
    color: inherit !important;
}

table p {
    margin: 0;
}

tbody tr {
    padding: 0.75rem 0;
    box-shadow: 0 0.0625rem 0 var(--grey);
}

/**
 * Form
 */
fieldset [type=email],
fieldset [type=password],
fieldset [type=search],
fieldset [type=text],
fieldset [type=url],
fieldset select {
    width: 100%;
    max-width: 30rem;
}

legend {
    width: 100%;
    box-shadow: 0 0.0625rem 0 var(--primary-dark);
}

label {
    display: block;
}

[type=checkbox] + label,
[type=radio] + label {
    display: inline;
    margin: 0 0.5rem 0 0.25rem;
}

label em {
    line-height: 1;
    font-size: 0.875rem;
    font-variant: all-small-caps;
}

[role=button],
button,
input,
select,
textarea {
    line-height: 3rem;
    box-shadow: 0 0.0625rem 0 var(--grey);
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
}

select[multiple] {
    height: 15rem;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    padding: 0 0.5rem;
    color: var(--secondary-text) !important;
    background: var(--secondary-dark);
    box-shadow: none;
}

[type=checkbox],
[type=radio] {
    box-shadow: none;
}

[type=checkbox][data-type=bool] {
    position: relative;
    display: block;
    width: 6rem;
    height: 1.5rem;
    border: 0.0625rem solid var(--grey);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

[type=checkbox][data-type=bool]::after {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    width: 3rem;
    height: 1.5rem;
    background: var(--secondary-dark);
    border: 0.0625rem solid var(--grey);
    content: '';
}

[type=checkbox][data-type=bool]:checked::after {
    left: auto;
    right: -0.0625rem;
}

[type=file] {
    line-height: 0;
    font-size: 0.875rem;
    box-shadow: none;
}

textarea {
    width: 100%;
    height: 15rem;
}

::input-placeholder {
    color: var(--grey);
}

:focus:invalid,
.invalid {
    box-shadow: 0 0.0625rem 0 var(--primary-light);
}

.error {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--primary-light);
}

/**
 * RTE
 */
.cke {
    border: 0.0625rem solid var(--grey) !important;
}

form .cke {
    height: 32.875rem !important;
}

.cke_top {
    border-bottom: 0.0625rem solid var(--grey) !important;
}

.cke_dialog td,
.cke_dialog th {
    box-shadow: none;
}

/**
 * Navigation
 */
#toolbar {
    display: none;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: var(--primary-text);
    background: var(--primary-dark);
}

#toolbar a:hover,
#toolbar a.active {
    text-decoration: underline;
}

#menu {
    position: static;
    position: sticky;
    top: 0;
    display: none;
    padding: 0.75rem;
    color: var(--primary-text);
    background: var(--primary-light);
}

#menu li ul {
    margin-left: 1.5rem;
}

#menu a {
    border-bottom: 0.25rem solid var(--primary-light);
}

#menu a:hover,
#menu a.active {
    border-color: var(--secondary);
}

/**
 * Header
 */
#header {
    color: var(--primary-text);
    background: var(--primary);
}

#header .name {
    font-size: 2rem;
    font-weight: normal;
}

/**
 * Message
 */
#msg {
    padding: 0.75rem;
    color: var(--secondary-text);
    background: var(--secondary-light);
}

#msg p {
    margin: 0;
}

/**
 * Footer
 */
#footer a {
    color: var(--secondary-dark);
}

/**
 * Content
 */
#content > h1,
#content > header > h1 {
    line-height: 3rem;
    font-size: 2rem;
}

#content a,
#content span[data-act] {
    color: var(--secondary-dark);
    cursor: pointer;
}

#content a:hover {
    text-decoration: underline;
}

#content ::-moz-selection {
    color: var(--secondary-text);
    background: var(--secondary);
}

#content ::selection {
    color: var(--secondary-text);
    background: var(--secondary);
}

/**
 * Index
 */
html[data-act=admin] #content.index .thead {
    margin: 0;
    padding: 0.75rem 0;
    font-weight: bold;
    box-shadow: 0 0.0625rem 0 var(--primary-dark);
}

html[data-act=admin] #content.index .thead > * {
    display: block;
    color: inherit;
}

html[data-act=admin] #content.index article {
    margin: 0;
    padding: 0.75rem 0;
    box-shadow: 0 0.0625rem 0 var(--grey);
}

html[data-act=admin] #content.index article h2 {
    margin: 0;
    font-size: inherit;
}

html[data-act=admin] #content.index p[data-act=create] {
    margin: 0;
}

a[data-sort=asc]::after {
    content: '⇑';
}

a[data-sort=desc]::after {
    content: '⇓';
}

.pager {
    padding: 0.75rem 0;
    font-size: 0.875rem;
}

.pager div {
    display: inline;
}

.pager .info {
    margin-right: 1.5rem;
}

/**
 * Responsive
 */
@media (min-width: 48rem) {
    /**
     * Navigation
     */
    #toolbar,
    #menu {
        display: block;
    }

    #toolbar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    #toolbar + * {
        margin-top: 3rem;
    }

    #toolbar li,
    #menu li {
        display: inline-block;
        margin-right: 0.625rem;
    }

    #toolbar li li,
    #menu li li {
        position: relative;
        display: block;
        margin-right: 0;
        padding: 0.375rem;
    }

    #toolbar li ul,
    #menu li ul {
        position: absolute;
        display: none;
        margin-left: 0;
    }

    #toolbar li ul {
        background: var(--primary-dark);
    }

    #menu li ul {
        background: var(--primary-light);
    }

    #toolbar li li ul,
    #menu li li ul {
        top: 0;
        left: 100%;
    }

    #toolbar li:hover > ul,
    #menu li:hover > ul {
        display: block;
    }

    #toolbar li span,
    #menu li span {
        cursor: default;
    }

    /**
     * Header
     */
    #header .name {
        line-height: 7.5rem;
    }

    /**
     * Index
     */
    .index audio,
    .index img,
    .index video {
        max-width: 15rem;
    }

    html[data-act=admin] #content.index {
        display: table;
        width: 100%;
        font-size: 0.875rem;
        empty-cells: show;
        border-collapse: collapse;
        border-spacing: 0;
    }

    html[data-act=admin] #content.index .thead,
    html[data-act=admin] #content.index article {
        display: table-row;
    }

    html[data-act=admin] #content.index .thead > *,
    html[data-act=admin] #content.index article > * {
        display: table-cell;
        padding: 0.75rem 0.375rem;
        vertical-align: top;
        text-align: left;
    }

    /**
     * Login
     */
    html[data-ent=account][data-act=login] body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    html[data-ent=account][data-act=login] main {
        display: flex;
        flex: 1 0;
        align-items: center;
        justify-content: center;
    }

    html[data-ent=account][data-act=login] #content {
        width: 100%;
        max-width: 30rem;
    }

    /**
     * Filebrowser
     */
    html[data-act=browser] #content {
        display: flex;
        flex-wrap: wrap;
    }

    html[data-act=browser] #content > * {
        width: 100%;
    }

    html[data-act=browser] #content > article {
        width: 25%;
    }

    /**
     * Alignment
     */
    .left {
        float: left;
        margin-right: 1rem;
    }

    .center {
        text-align: center;
    }

    .right {
        float: right;
        margin-left: 1rem;
    }
}
