/**
 * Font
 */
@font-face {
    font-family: Ubuntu;
    font-weight: normal;
    font-style: normal;
    src: url('../font/Ubuntu.woff') format('woff');
}

/**
 * Section
 */
body {
    line-height: 1.5;
    font-family: Ubuntu, sans-serif;
    color: #231f20;
    background: #fff;
}

body > * {
    width: 100%;
    min-width: 755px;
    max-width: 1140px;
    margin: 0 auto;
}

body > *:not(:first-child) {
    margin-top: 1rem;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

/**
 * Group
 */
p,
figure {
    margin: 0 0 1rem;
}

figcaption {
    font-size: 0.9rem;
}

pre {
    padding: 1rem;
    color: #fff;
    background: #231f20;
}

ol,
ul {
    margin: 1rem 0;
    padding-left: 2rem;
}

li ol,
li ul {
    margin: 0;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li ul {
    list-style: square;
}

nav ol,
nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/**
 * Text
 */
a {
    text-decoration: none;
    color: #901913;
}

a:hover {
    text-decoration: underline;
}

mark {
    background: #e14b28;
}

/**
 * Table
 */
table {
    width: 100%;
    margin: 1rem 0;
}

th,
td {
    padding: 0.25rem 0.375rem;
    border: thin solid #d3d3d3;
}

thead th,
thead td,
tfoot th,
tfoot td {
    color: #fff;
    background: #231f20;
}

thead a,
tfoot a {
    color: #fff;
}

tbody tr:nth-of-type(even) > * {
    background: #ededed;
}

/**
 * Form
 */
::input-placeholder {
    color: #999;
}

.message {
    margin: 0;
    font-size: 0.9rem;
}

fieldset:not(:first-child) {
    margin-top: 1rem;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button,
legend {
    border-color: #000;
}

[role=button]:focus,
[role=button]:hover,
button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover  {
    box-shadow: 0 0 10px #d3d3d3;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    color: #fff;
    background: #231f20;
}

[role=button],
button,
input,
select,
textarea {
    vertical-align: middle;
    padding: 0.125rem 0.25rem;
    border: thin solid;
}

input,
select,
textarea,
option {
    border-color: #d3d3d3;
}

legend {
    width: 100%;
    border-bottom: thin solid;
}

label {
    display: block;
}

table label,
label.inline {
    display: inline;
}

label em {
    font-size: 0.9rem;
}

label em.required,
.element .error {
    color: #901913;
}

label em.unambiguous {
    color: #727c25;
}

[role=button]:hover {
    text-decoration: none;
}

input[formaction$="/delete"] {
    background: #901913;
}

select {
    padding: 0;
}

option {
    padding: 0.125rem 0.25rem;
    border-bottom: thin solid;
}

option[selected],
option.empty {
    color: #e14b28;
}

option.empty {
    font-weight: bold;
    font-style: italic;
}

option.group {
    font-weight: bold;
}

option[data-level='2'] {
    padding-left: 1rem;
}

option[data-level='3'] {
    padding-left: 2rem;
}

option[data-level='4'] {
    padding-left: 3rem;
}

option[data-level='5'] {
    padding-left: 4rem;
}

textarea {
    vertical-align: top;
}

/**
 * Messages
 */
#message {
    background: #e14b28;
}

#message h1,
#message p {
    padding: 0.25rem 0.5rem;
}

/**
 * Main
 */
main > .section > header > h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #e14b28;
}

main .section-list article {
    margin: 0 0 1rem;
}

/**
 * Index
 */
.section-index > header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-index > header > *:not(form) {
    flex: 0 0 100%;
}

/**
 * Pager
 */
.pager {
    display: flex;
    justify-content: space-between;
}

/**
 * Toolbar
 */
.toolbar > ul > li {
    padding: 1rem 0;
}

.toolbar li li {
    display: inline;
    margin-right: 2rem;
}

/* Content */
main .toolbar > ul > li {
    border-bottom: thin solid #d3d3d3;
}

main .toolbar > ul > li:first-child {
    padding-top: 0;
}

main .toolbar > ul > li > span {
    display: block;
    font-size: 1.25rem;
}

main .toolbar li li a {
    color: #231f20;
}

/* Menu */
#toolbar {
    width: 100%;
    min-width: 0;
    max-width: none;
    margin: 0 auto;
    color: #fff;
    background: #231f20;
}

#toolbar > ul {
    display: flex;
    justify-content: flex-start;
}

#toolbar > ul > li {
    margin: 0 1rem;
    padding: 1rem 0;
}

#toolbar .toolbar > ul {
    position: absolute;
    left: 0;
    top: auto;
    z-index: 10;
    display: none;
    width: 100%;
    background: #231f20;
}

#toolbar .toolbar:hover > ul {
    display: block;
}

#toolbar .toolbar > ul > li {
    margin: 0 1rem;
    border-bottom: thin dashed #000;
}

#toolbar .toolbar > ul > li > span {
    color: #e14b28;
}

#toolbar a {
    color: #fff;
}

#toolbar .toolbar ul a {
    font-size: 0.9rem;
}
