/**
 * Font
 */
@font-face {
  font-family: material;
  font-style: normal;
  font-weight: 400;
  src: url(material.woff) format('woff');
}

@font-face {
    font-family: ubuntu;
    font-style: normal;
    font-weight: normal;
    src: url('ubuntu.woff') format('woff');
}

/**
 * Elements
 */
/* Section */
body {
    line-height: 1.5;
    font-family: ubuntu, sans-serif;
    color: #231f20;
    background: #fff;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

/* Group */
main {
    display: flex;
}

p,
figure {
    margin: 0 0 1rem;
}

figcaption {
    font-size: 0.9rem;
}

pre {
    padding: 1rem;
    color: #fff;
    background: #231f20;
}

ol,
ul {
    margin: 1rem 0;
    padding-left: 2rem;
}

li ol,
li ul {
    margin: 0;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li ul {
    list-style: square;
}

nav ol,
nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

aside nav li li {
    margin-left: 2rem;
}

/* Text */
a {
    text-decoration: none;
    color: #901913;
}

a:hover {
    text-decoration: underline;
}

/* Table */
table {
    width: 100%;
    margin: 1rem 0;
}

th {
    padding: 0.25rem 0.375rem;
    font-weight: bold;
    border-bottom: medium solid #d3d3d3;
}

thead th {
    border-color: inherit;
}

td {
    padding: 0.25rem 0.375rem;
    border-bottom: thin solid #d3d3d3;
}

thead a,
tfoot a {
    color: inherit;
}

table p {
    margin: 0;
}

/* Form */
::input-placeholder {
    color: #999;
}

.message {
    margin: 0;
    font-size: 0.9rem;
}

fieldset > * {
    margin: 0 0 1rem;
}

legend {
    width: 100%;
    border-bottom: thin solid;
}

label {
    display: block;
}

label.inline {
    display: inline;
    vertical-align: middle;
}

input + label.inline {
    margin: 0 0.5rem 0 0.25rem;
}

label em {
    font-size: 0.9rem;
}

label em.required,
.error {
    color: #901913;
}

label em.uniq {
    color: #727c25;
}

[role=button],
button,
input,
select,
textarea {
    line-height: 2;
}

[role=button]:focus,
[role=button]:hover,
button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover  {
    box-shadow: 0 0 0.625rem #d3d3d3;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    color: #fff;
    background: #231f20;
}

[role=button],
button,
input:not([type=file]),
select,
textarea {
    vertical-align: middle;
    border: thin solid;
}

[role=button],
button,
input:not([type=file]),
textarea {
    padding: 0.125rem 0.25rem;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button,
legend {
    border-color: #000;
}

input:not([type=file]),
select,
textarea,
option {
    border-color: #d3d3d3;
}

[role=button]:hover {
    text-decoration: none;
}

input[formaction$="/delete"] {
    background: #901913;
}

fieldset [type=email],
fieldset [type=password],
fieldset [type=text],
fieldset [type=url] {
    width: 20rem;
    max-width: 100%;
}

fieldset select {
    min-width: 20rem;
    max-width: 100%;
}

fieldset select[multiple] {
    width: 100%;
    height: 15rem;
    resize: both;
}

textarea {
    width: 100%;
    height: 15rem;
    resize: both;
    vertical-align: top;
}

option {
    padding: 0.125rem 0.25rem;
    border-bottom: thin solid;
}

option[selected] {
    color: #e14b28;
}

select > option:only-child {
    font-style: italic;
    color: #e14b28;
}

/**
 * Layout
 */
body > * {
    padding: 1rem;
}

/**
 * Toolbar
 */
#toolbar {
    color: #fff;
    background: #231f20;
}

#toolbar form {
    display: inline-block;
}

#toolbar a {
    margin: 0 1rem;
    color: #fff;
}

/**
 * Messages
 */
#message {
    background: #e14b28;
}

#message p {
    margin: 0;
}

/**
 * Pager
 */
#pager {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

/**
 * Main
 */
#left {
    flex: 1 0;
    margin-right: 1rem;
}

#right {
    flex: 1 0;
    margin-left: 1rem;
}

#content {
    flex: 3 0;
}

#content > h1 {
    margin: 0 0 1rem;
    font-size: 2rem;
    color: #e14b28;
}

/**
 * Admin
 */
#content.admin .tool {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 0.5rem;
}

#content.admin .pager {
    margin: 0 0 0.25rem;
}

/**
 * Index
 */
#content.index article {
    margin: 0 0 1rem;
}

/**
 * Login
 */
html[data-path="account/login"] body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #231f20;
}

html[data-path="account/login"] body > * {
    flex: 0 0;
}

/**
 * Nav
 */
#top nav li {
    display: inline-block;
    margin: 0 1rem;
    padding: 1rem 0;
}

/**
 * Icon
 */
.icon {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    font-family: material;
    font-weight: normal;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    border: 0;
}

.icon:hover {
    text-decoration: none;
}
