:root[data-details] details,
:root[data-details] details > summary:first-child {
    display: block;
}

:root[data-details] details:not([open]) > * {
    display: none;
}

:root[data-details] details > summary:first-child::before {
    display: inline-block;
    content: '▼';
    margin-right: 0.5rem;
}

:root[data-details] details:not([open]) > summary:first-child::before {
    content: '▶';
}

/**
 * Print
 */
@media print {
    :root[data-details] details > summary:first-child::before {
        display: none;
    }
}
