.gallery .content figure {
    margin: 0;
}

.gallery .content img {
    display: block;
}

.gallery .content figcaption {
    display: none;
}

.gallery .content.is-fullscreen {
    z-index: 999;
}

.gallery .content.is-fullscreen figure {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gallery .content.is-fullscreen img {
    max-height: 90%;
}

.gallery .content.is-fullscreen figcaption {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}

.gallery .flickity-prev-next-button {
    background: rgba(255, 255, 255, 0.75);
}

.gallery .flickity-prev-next-button:hover {
    background: #fff;
}

.gallery .content:not(.is-fullscreen) img {
    object-fit: cover;
    object-position: center;
}

/**
 * Print
 */
@media print {
    .gallery {
        display: none;
    }
}
